.div-register-form {
  position: fixed;
   left: 50%;
   transform: translate(-50%, -50%);
   top: 35rem;
}

#register-button {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  margin-top: 1rem;
}
