<div class="div-register-form">
<form class="register-form" (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm">
    <mat-form-field>
      <input type="text"
      matInput
      placeholder="first name"
      name="firstName"
      ngModel
      required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="text"
      matInput
      placeholder="last name"
      name="lastName"
      ngModel
      required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="text"
      matInput
      placeholder="login name"
      name="loginName"
      ngModel
      required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="pass"
      matInput
      placeholder="password"
      name="password"
      ngModel
      required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="password"
      matInput
      placeholder="repeat password"
      name="passwordRepeat"
      ngModel
      required>
    </mat-form-field>
    <br>
    <button
      id="register-button"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!registerForm.valid"
      >Register</button>
  </form>
</div>

<div *ngIf="user != null">
<span>{{user.firstName}}</span><br>
<span>{{user.lastName}}</span><br>
<span>{{user.loginName}}</span><br>
<span>{{user.password}}</span><br>
<span>{{user.repeatPassword}}</span><br>
</div>
