<div class="div-register-form">
<form class="register-form" (submit)="onRegister(registerForm)" #registerForm>
    <mat-form-field>
      <input type="text" matInput placeholder="first name">
    </mat-form-field><br>
    <mat-form-field>
      <input type="text" matInput placeholder="last name">
    </mat-form-field><br>
    <mat-form-field>
      <input type="text" matInput placeholder="phone number">
    </mat-form-field><br>
    <mat-form-field>
      <input type="password" matInput placeholder="password">
    </mat-form-field><br>
    <mat-form-field>
      <input type="password" matInput placeholder="repeat passoword">
    </mat-form-field><br>
    <button
      id="register-button"
      mat-raised-button
      color="primary"
      type="submit"
      >Register</button>
  </form>
</div>
