<div class="jumbotron jumbotron-fluid">
  <div class="card-body">
      <h2 class="display-4">Hello, world!</h2>

    <p class="lead">Balance:
      <span class="lead" *ngIf="currentBalanceData.getBalance() != null"> {{ currentBalanceData.getBalance()  }}</span>
    </p>

    <p class="lead">Currency:
      <span class="lead" *ngIf="currentBalanceData.getCurrency() != null"> {{ currentBalanceData.getCurrency() }}</span>
    </p>

    <!---<p class="card-text">Expenses this month 
        <span>   </span> Amount 
      </p>-->

  </div>
</div>