<body>

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->


      <div class="fadeIn first">
        <div class="card">
          <div class="card-body">
            <h1>Adding new contact</h1>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onAddContact(createContactForm)" #createContactForm="ngForm">

            <div>
              <mat-form-field>

                <input type="text" matInput placeholder="CONATCT NAME" name="contactName" ngModel required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input type="text" matInput placeholder="COMMENT (OPTIONA)" name="comment" ngModel>
              </mat-form-field>
            </div>
            <button type="button" class="btn btn-primary" mat-raised-button color="primary"
              (click)="onBackToSearchContacts()">Back</button>
              <span> </span>
            <button mat-raised-button color="primary" *ngIf="!errorMessage" id="create-contact-button" type="submit"
              [disabled]="!createContactForm.valid">Add to contacts</button>




          </form>
        </div>
      </div>
      <div *ngIf="errorMessage"> {{ errorMessage }}

        <button mat-raised-button color="primary" *ngIf="errorMessage" id="resetErrorMessage"
          (click)="onResetErrorMessage()">Accept</button>
      </div>

    </div>
  </div>


</body>