<hr>
<div>
  <button
    mat-raised-button
    color="primary"
    (click)="onBackToSendMoney()"
    >back</button>
  <form (ngSubmit)="onAddContact(createContactForm)" #createContactForm="ngForm">
    <mat-form-field>
      <input type="text"
        matInput
        placeholder="contact name"
        name="contactName"
        ngModel
        required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="text"
        matInput
        placeholder="comment (optinal)"
        name="comment"
        ngModel>
    </mat-form-field>
    <br>
    <button
      *ngIf="!errorMessage"
      id="create-contact-button"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!createContactForm.valid"
      >Add to contacts</button>
  </form>
  <div *ngIf="errorMessage"> {{ errorMessage }}
    <button
      *ngIf="errorMessage"
      id="resetErrorMessage"
      mat-raised-button
      color="primary"
      (click)="onResetErrorMessage()">ok</button>
  </div>
</div>
