<hr>
<div>
  Search Contacts
  <button mat-raised-button color="primary">Add new contact</button>
  <button mat-raised-button color="primary" (click)="onRefreshContactList()">refresh contact list</button>
</div>

<div>
    <input type="text"
    matInput
    placeholder="search contact"
    name="searchContact"
    ngModel
    [(ngModel)]="pipeFilterValue">
</div>

<div>
  <p>recent contacts</p>
</div>

<div>
  <p>All contacts</p>

  <div *ngFor="let contact of testContactList | filterContacts: pipeFilterValue">
      <div>
        {{ contact.loginName }} <span>     </span> {{ contact.comment }}
      </div>
  </div>
</div>

<div *ngIf="errorMessage"> {{ errorMessage }}

