<body>


    

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->


      <div class="fadeIn first">
        <h2>Searching for contact</h2>
      </div>

      <div *ngIf="!isLoading">

        <table class="table table-striped">
          <thead>

            <div>
              <input type="submit" (click)="onBackToSendMoney()" value="Return">
              <input type="submit" (click)="onAddNewContact()" value="Add new contact">
              <input type="submit" (click)="onRefreshContactList()" value="Refresh contact list">
            </div>

            <tr>
              <input type="text" matInput placeholder="search contact" name="searchContact" ngModel
                [(ngModel)]="pipeFilterValue">

            </tr>
          </thead>

          <div *ngIf="contactList == null">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <tbody *ngIf="contactList != null">

            <tr *ngFor="let contact of contactList | filterContacts: pipeFilterValue">

              <div>

                {{ contact.contactLoginName }} <span> ::::::::. </span> {{ contact.comment }}

                <!---<input type="submit" (click)="onEditContact(contact.contactLoginName)" value="Edit">--->

                <input type="submit" (click)="onSelectContact(contact.contactLoginName)" value="Select">

              </div>
            </tr>

            <div *ngIf="errorMessage"> {{ errorMessage }}></div>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>