<body>




  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->


      <div class="fadeIn first">
        <div class="card">
          <div class="card-body">
            <h1>Searching for contact</h1>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">

          <div *ngIf="!isLoading">

            <table class="table table-striped">
              <thead>

                <button mat-raised-button color="primary" (click)="onAddNewContact()">Add new contact</button>

                <button mat-raised-button color="primary" (click)="onRefreshContactList()">Refresh contact
                  list</button>

                <div>
                  <mat-form-field>
                    <input type="text" matInput placeholder="SEARCH CONTACT" name="searchContact" ngModel
                      [(ngModel)]="pipeFilterValue">
                  </mat-form-field>

                </div>


              </thead>

              <div *ngIf="contactList == null">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>

              <tbody *ngIf="contactList != null">



                <mat-list-item *ngFor="let contact of contactList | filterContacts: pipeFilterValue">

                  <span class="left-allign">{{ contact.contactLoginName }}  {{ contact.comment }}</span>
                  <!---<button mat-raised-button color="primary" (click)="onEditContact(contact.contactLoginName)">Edit</button>--->
                  <button mat-raised-button color="primary"
                    (click)="onSelectContact(contact.contactLoginName)">Select</button>


                </mat-list-item>





                <div *ngIf="errorMessage"> {{ errorMessage }}></div>

              </tbody>

            </table>
            <button mat-raised-button color="primary" (click)="onBackToSendMoney()">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>