<mat-toolbar color="assets">
  <div>
    <span *ngIf="!userIsAuthenticated" class="header-element"><a mat-button routerLink="/info" routerLinkActive="mat-accent">
      <img src="assets/img/Logo2.png" id="logo"></a></span>
    <span *ngIf="userIsAuthenticated" class="header-element"><a mat-button routerLink="/home" routerLinkActive="mat-accent">
      <img src="assets/img/Logo2.png" id="logo"></a></span><br>
    <span *ngIf="userIsAuthenticated">Welcome {{authenticatedUserName}}</span>
    
  </div>

  <div *ngIf="role === 'business-user' && userIsAuthenticated">
      <a mat-button routerLink="/buisiness-user-panel" routerLinkActive="mat-accent">Statistics</a>
  </div>

  <span class="spacer"></span>
  <span *ngIf="!userIsAuthenticated" class="header-element"><a mat-button routerLink="/register" routerLinkActive="mat-accent">Register</a></span>
  <span *ngIf="!userIsAuthenticated" class="header-element"><a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a></span>
  <span *ngIf="userIsAuthenticated" class="header-element"><button mat-button (click)="onLogout()">Logout</button></span>
</mat-toolbar>
