<body>



    <div class="splash">
        <h1 class="splash-head">Mobiles Banking<br>ohne Bankkonto</h1>
        <p class="splash-subhead">
            Eine einfache App, die dir die Freiheit gibt, dein Geld auszugeben, zu sparen, zu bewegen und zu
            investieren. Zu deinen Bedingungen.
        </p>
    </div>


    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">Mobiles Banking
                    in Uganda revolutioniert</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                    <h3 class="content-subhead">
                        <i class="fa fa-rocket"></i>
                        Eine Idee, die begeistert
                    </h3>
                    <p>
                        Indepay ist eine Finanzplattform, die die Möglichkeit schafft, ohne Zugang zu einem Bankkonto
                        digital Geld an Menschen zu transferieren und zu verwalten.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-mobile"></i>
                        Sende dein Geld egal von wo und egal wohin
                    </h3>
                    <p>
                        Mit Indepay hast du die Möglichkeit, dein Geld überall auf der Welt zu versenden. Ohne Limits
                        und ohne Beschränkungen.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-th-large"></i>
                        Sicher und einfach zahlen war noch nie so bequem
                    </h3>
                    <p>
                        Indepay verwaltet dein Geld sicher. Du brauchst dir darüber keine Sorgen machen. Vom Einzahlen
                        des Geldes bis zum Bezahlen an der Kasse. Noch nie hat sich der Umgang mit Geld so sicher
                        angefühlt
                    </p>
                </div>


            </div>
        </div>




    </div>

    <div class="footer l-box is-center">
            We are happy to have you here!
        </div>
    
</body>