<h3>check your transaction</h3>

<div>
  Amout and currency<br>
  Contact
</div>
<br>
<br>


<div name="transactionDetails">
  <p>Details</p>
  <hr>
  <div>
    Amount:
  </div>
  <hr>
  <div>
    Transaction fees:
  </div>
  <hr>
  <div>
    Total Payment: ...
  </div>
    <hr>
  <button
    mat-raised-button
    color="primary"
    (click)="onBackToSendMoney()"
    >change transaction</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onConfirmTransaction()"
    >confirm transaction</button>

</div>
