
<body>
  
<div *ngIf="transactionInProcess">
  <span> please wait, the transaction is in process ...</span>
</div>

<h3>check your transaction</h3>

<div>
  Currency: <span *ngIf="ongoingTransactionData != null"> {{ currentBalanceData.getCurrency() }}</span><br>
  <hr>
  Contact: <span *ngIf="ongoingTransactionData != null"> {{ ongoingTransactionData.getReceiver() }}</span><br>
  <hr>
  Comment: <br>
  <span *ngIf="ongoingTransactionData != null"> {{ ongoingTransactionData.getComment() }}</span>
</div>
<br>
<br>


<div name="transactionDetails">
  <p>Details</p>
  <hr>
  <div>
    Amount: <span *ngIf="ongoingTransactionData != null"> {{ ongoingTransactionData.getAmount() }}</span>
  </div>
  <hr>
  <div>
    Transaction fees:<span *ngIf="ongoingTransactionData != null"> {{ ongoingTransactionData.getFee() }}</span>
  </div>
  <hr>
  <div>
    Total Payment: <span *ngIf="ongoingTransactionData != null"> {{ ongoingTransactionData.getTotalAmount() }}</span>
  </div>
    <hr>
  <button
    mat-raised-button
    color="primary"
    (click)="onBackToSendMoney()"
    >change transaction</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onConfirmTransaction()"
    >confirm transaction</button>

</div>
</body>