<body>

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->


      <div class="fadeIn first">
        <h2>Sending money</h2>
      </div>

      <div class="card">
        <div class="card-body">


          <div class="card-text">
            Currency: {{ currentBalanceData.getCurrency() }}
          </div>

          <div class="card-text">Current balance:
            {{ currentBalanceData.getBalance() }}
          </div>

          <!---<p class="card-text">Expenses this month 
            <span>   </span> Amount 
          </p>-->

        </div>
      </div>

      <div class="div-send-money">
        <form [formGroup]="sendMoneyForm">

          <div>
            <label class="fadeIn second" for="amount">Amount</label>

            <input type="number" id="amount" class="fadeIn second" placeholder="amount"
              formControlName="transactionAmount" required>

          </div>

          <div>
            <input type="text" class="fadeIn third" required formControlName="selectedContact"
              placeholder="select contact">

            <input type="submit" class="fadeIn third" value="Search in contacts"
              (click)="onSubmit('selectContact', sendMoneyForm)">

          </div>

          <input type="text" class="fadeIn third" formControlName="comment" placeholder="comment">

          <input type="submit" class="fadeIn fourth" value="Continue"
            (click)="onSubmit('checkTransaction', sendMoneyForm)">
        </form>


      </div>
    </div>
  </div>

</body>