<body>

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->


      <div class="fadeIn first">
        <div class="card">
          <div class="card-body">
            <h1>Sending money</h1>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">


          <div class="card-text">
            Currency: {{ currentBalanceData.getCurrency() }}
          </div>

          <div class="card-text">Current balance:
            {{ currentBalanceData.getBalance() }}
          </div>

          <!---<p class="card-text">Expenses this month 
            <span>   </span> Amount 
          </p>-->

          <br>

          <div class="div-send-money">
            <form [formGroup]="sendMoneyForm">

              <mat-form-field>
                <input type="number" matInput color="primary" placeholder="AMOUNT" formControlName="transactionAmount"
                  required>
              </mat-form-field>


              <div>
                <button mat-raised-button color="primary" type="searchContacts"
                  (click)="onSubmit('selectContact', sendMoneyForm)">Search in contacts</button>
              </div>
              <br>
              <div>
                <mat-form-field>
                  <input matInput required formControlName="selectedContact" placeholder="SELECTED CONTACT">
                </mat-form-field>
              </div>



              <div>
                <mat-form-field>
                  <input matInput formControlName="comment" placeholder="COMMENT">
                </mat-form-field>
              </div>


              <div>
                <button mat-raised-button color="primary" type="submit" (click)="onBackToHome()">Back</button>

                <span> </span>

                <button mat-raised-button color="primary" type="submit"
                  (click)="onSubmit('checkTransaction', sendMoneyForm)">Continue</button>



              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>