<mat-toolbar>
  <div>
      <button mat-button id="all" (click)="onChangePipeFilter('All')">All</button>
      <button mat-button id="sent" (click)="onChangePipeFilter('Sent')">Sent</button>
      <button mat-button id="recieved" (click)="onChangePipeFilter('Received')">Recieved</button>
  </div>
</mat-toolbar>

  <div><span *ngIf="isLoading">last transactions are loading ...</span></div>
  <div *ngIf="!isLoading">
    <mat-list>
      <h2>Last Transactions</h2>
      <mat-list-item
        class=list-group-item
        *ngFor="let transaction of lastTransactions | filterTransactions: pipeFilterValue : 'direction'">
        Date: {{ transaction.transactionDate }}
        Currency: {{ transaction. currency }}
        Amount: {{ transaction.amount }}
        Fee: {{ transaction.fee }}
        TotalAmount: {{ transaction.totalAmount }}
        Direction: {{transaction.direction}}
        <div>
          <span *ngIf="transaction.direction === 'Sent'">
            Contact: {{ transaction.receiver }}
          </span>
          <span  *ngIf="transaction.direction === 'Received'">
            Contact: {{ transaction.sender }}
          </span>
        </div>
        Comment: {{ transaction.comment }}
      </mat-list-item>
    </mat-list>
    <mat-paginator
      [length]="totalTransactions"
      [pageSize]="transactionsPerPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onChangedPage($event)"></mat-paginator>
  </div>

  <!-- | filterTransactions: pipeFilterValue : 'direction'"> -->
