<mat-toolbar>
  <div>
      <button mat-button id="all" (click)="onChangePipeFilter('all')">All</button>
      <button mat-button id="sent" (click)="onChangePipeFilter('sent')">Sent</button>
      <button mat-button id="recieved" (click)="onChangePipeFilter('recieved')">Recieved</button>
  </div>
</mat-toolbar>

  <div><span *ngIf="isLoading">last transactions are loading ...</span></div>
  <div *ngIf="!isLoading">
    <mat-list>
      <h2>Last Transactions</h2>
      <mat-list-item
        class=list-group-item
        *ngFor="let transaction of lastTransactions ">
        Date: {{ transaction.da }}
        Currency: {{ transaction. currency }}
        Amount: {{ transaction.amount }}
        Fee: {{ transaction.fee }}
        TotalAmount: {{ transaction.totalAmount }}
        Direction: {{transaction.direction}}
        Contact: {{transaction.receiver}}
        Comment: {{ transaction.comment }}

      </mat-list-item>
    </mat-list>
    <mat-paginator
      [length]="totalTransactions"
      [pageSize]="transactionsPerPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onChangedPage($event)"></mat-paginator>
  </div>

  <!-- | filterTransactions: pipeFilterValue : 'direction'"> -->
